<html class=" desktop portrait" dir="ltr" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="images/72d7dcce33" type="text/javascript"></script>
    <script src="images/visits" defer async></script>
    <script src="js/nr-918.js"></script>
    <script src="js/linkid.js" async type="text/javascript"></script>
    <script data-cfasync="false" defer async src="js/application2.js"></script>
    <style type="text/css">.olark-key, #hbl_code, #olark-data {
        display: none !important;
    }</style>
    <link href="css/c57177fb5497e1053f613e9dbd8d4106.css" rel="stylesheet" type="text/css" id="habla_style_div">
    <style type="text/css">#olk-b-7901 .cancel-button-olk-18486, #olk-b-7901 .referral-button-olk-18486 {
        font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
        font-size: 14px !important;
        font-weight: bold !important;
        border-radius: 3px !important;
        border: 1px solid #d65129;
        -webkit-font-smoothing: antialiased;
        width: 80% !important;
        padding: 10px 15px !important;
        margin-bottom: 10px !important;
        transition: .03s;
    }

    #olk-b-7901 .cancel-button-olk-18486:hover, #olk-b-7901 .referral-button-olk-18486:hover {
        border: 1px solid #c14925
    }

    #olk-b-7901 .cancel-button-olk-18486:focus, #olk-b-7901 .referral-button-olk-18486:focus {
        outline: 0
    }

    #olk-b-7901 {
        width: 100% !important;
        display: inline-block !important
    }

    #olk-b-7901 .wrapper-olk-18486 {
        background: #fff;
        border-left: 1px solid #ededed;
        border-right: 1px solid #ededed;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 34px;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
        box-sizing: border-box;
        overflow-y: auto
    }

    #olk-b-7901 .description-olk-18486 {
        font-size: 14px;
        font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
        line-height: 1.4em;
        margin: 0 0 15px
    }

    #olk-b-7901 .cancel-button-olk-18486 {
        background: #d65129;
        color: #fff;
    }

    #olk-b-7901 .cancel-button-olk-18486:hover {
        background: #c14925
    }

    #olk-b-7901 .referral-button-olk-18486 {
        background: #fff;
        color: #d65129;
    }

    #olk-b-7901 .referral-button-olk-18486:hover {
        color: #c14925
    }

    #olk-b-7901 .brand-olk-18486 {
        color: #a6aeb0 !important;
        font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
        padding: 0 !important;
        font-size: 11px !important;
        margin: 0 0 5px 10px !important;
        display: inline-block !important;
        transition: .03s;
    }

    #olk-b-7901 .brand-olk-18486:hover {
        color: #d65129 !important
    }</style>
    <style type="text/css">@media print {
        #habla_beta_container_do_not_rely_on_div_classes_or_names {
            display: none !important
        }
    }</style>
</head>
<body class="checkout-checkout">
<div id="olark" style="display: none;">
    <olark>
        <iframe id="olark-loader" frameborder="0"></iframe>
    </olark>
</div>
<b>Notice</b>: Undefined index: header-login-redirect in <b>/var/www/html/wwwroot/opencart_55818/catalog/controller/module/tm_header_login.php</b>
on line <b>109</b>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->

<!--<![endif]-->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Checkout</title>
<!-- base href="http://livedemo00.template-help.com/opencart_55818/" -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="js/analytics.js" async type="text/javascript"></script>
<script src="js/gtm.js" async></script>
<script src="js/ga.js" async type="text/javascript"></script>
<script type="text/javascript">window.NREUM || (NREUM = {}), __nr_require = function (e, t, n) {
    function r(n) {
        if (!t[n]) {
            var o = t[n] = {exports: {}};
            e[n][0].call(o.exports, function (t) {
                var o = e[n][1][t];
                return r(o || t)
            }, o, o.exports)
        }
        return t[n].exports
    }

    if ("function" == typeof __nr_require)return __nr_require;
    for (var o = 0; o < n.length; o++)r(n[o]);
    return r
}({
    1: [function (e, t, n) {
        function r(e, t) {
            return function () {
                o(e, [(new Date).getTime()].concat(a(arguments)), null, t)
            }
        }

        var o = e("handle"), i = e(2), a = e(3);
        "undefined" == typeof window.newrelic && (newrelic = NREUM);
        var u = ["setPageViewName", "addPageAction", "setCustomAttribute", "finished", "addToTrace", "inlineHit"], c = ["addPageAction"], f = "api-";
        i(u, function (e, t) {
            newrelic[t] = r(f + t, "api")
        }), i(c, function (e, t) {
            newrelic[t] = r(f + t)
        }), t.exports = newrelic, newrelic.noticeError = function (e) {
            "string" == typeof e && (e = new Error(e)), o("err", [e, (new Date).getTime()])
        }
    }, {}], 2: [function (e, t, n) {
        function r(e, t) {
            var n = [], r = "", i = 0;
            for (r in e)o.call(e, r) && (n[i] = t(r, e[r]), i += 1);
            return n
        }

        var o = Object.prototype.hasOwnProperty;
        t.exports = r
    }, {}], 3: [function (e, t, n) {
        function r(e, t, n) {
            t || (t = 0), "undefined" == typeof n && (n = e ? e.length : 0);
            for (var r = -1, o = n - t || 0, i = Array(0 > o ? 0 : o); ++r < o;)i[r] = e[t + r];
            return i
        }

        t.exports = r
    }, {}], ee: [function (e, t, n) {
        function r() {
        }

        function o(e) {
            function t(e) {
                return e && e instanceof r ? e : e ? u(e, a, i) : i()
            }

            function n(n, r, o) {
                e && e(n, r, o);
                for (var i = t(o), a = l(n), u = a.length, c = 0; u > c; c++)a[c].apply(i, r);
                var s = f[g[n]];
                return s && s.push([m, n, r, i]), i
            }

            function p(e, t) {
                w[e] = l(e).concat(t)
            }

            function l(e) {
                return w[e] || []
            }

            function d(e) {
                return s[e] = s[e] || o(n)
            }

            function v(e, t) {
                c(e, function (e, n) {
                    t = t || "feature", g[n] = t, t in f || (f[t] = [])
                })
            }

            var w = {}, g = {}, m = {on: p, emit: n, get: d, listeners: l, context: t, buffer: v};
            return m
        }

        function i() {
            return new r
        }

        var a = "nr@context", u = e("gos"), c = e(2), f = {}, s = {}, p = t.exports = o();
        p.backlog = f
    }, {}], gos: [function (e, t, n) {
        function r(e, t, n) {
            if (o.call(e, t))return e[t];
            var r = n();
            if (Object.defineProperty && Object.keys)try {
                return Object.defineProperty(e, t, {value: r, writable: !0, enumerable: !1}), r
            } catch (i) {
            }
            return e[t] = r, r
        }

        var o = Object.prototype.hasOwnProperty;
        t.exports = r
    }, {}], handle: [function (e, t, n) {
        function r(e, t, n, r) {
            o.buffer([e], r), o.emit(e, t, n)
        }

        var o = e("ee").get("handle");
        t.exports = r, r.ee = o
    }, {}], id: [function (e, t, n) {
        function r(e) {
            var t = typeof e;
            return !e || "object" !== t && "function" !== t ? -1 : e === window ? 0 : a(e, i, function () {
                return o++
            })
        }

        var o = 1, i = "nr@id", a = e("gos");
        t.exports = r
    }, {}], loader: [function (e, t, n) {
        function r() {
            if (!w++) {
                var e = v.info = NREUM.info, t = s.getElementsByTagName("script")[0];
                if (e && e.licenseKey && e.applicationID && t) {
                    c(l, function (t, n) {
                        e[t] || (e[t] = n)
                    });
                    var n = "https" === p.split(":")[0] || e.sslForHttp;
                    v.proto = n ? "https://" : "http://", u("mark", ["onload", a()], null, "api");
                    var r = s.createElement("script");
                    r.src = v.proto + e.agent, t.parentNode.insertBefore(r, t)
                }
            }
        }

        function o() {
            "complete" === s.readyState && i()
        }

        function i() {
            u("mark", ["domContent", a()], null, "api")
        }

        function a() {
            return (new Date).getTime()
        }

        var u = e("handle"), c = e(2), f = window, s = f.document;
        NREUM.o = {
            ST: setTimeout,
            CT: clearTimeout,
            XHR: f.XMLHttpRequest,
            REQ: f.Request,
            EV: f.Event,
            PR: f.Promise,
            MO: f.MutationObserver
        }, e(1);
        var p = "" + location, l = {
            beacon: "bam.nr-data.net",
            errorBeacon: "bam.nr-data.net",
            agent: "js-agent.newrelic.com/nr-918.min.js"
        }, d = window.XMLHttpRequest && XMLHttpRequest.prototype && XMLHttpRequest.prototype.addEventListener && !/CriOS/.test(navigator.userAgent), v = t.exports = {
            offset: a(),
            origin: p,
            features: {},
            xhrWrappable: d
        };
        s.addEventListener ? (s.addEventListener("DOMContentLoaded", i, !1), f.addEventListener("load", r, !1)) : (s.attachEvent("onreadystatechange", o), f.attachEvent("onload", r)), u("mark", ["firstbyte", a()], null, "api");
        var w = 0
    }, {}]
}, {}, ["loader"]);</script>
<!--    --><!--        <link href="--><!--" rel="icon"/>-->
<!--    -->
<script src="js/jquery-2.js" type="text/javascript"></script>
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/moment.js" type="text/javascript"></script>
<script src="js/bootstrap-datetimepicker.js" type="text/javascript"></script>
<link href="css/bootstrap-datetimepicker.css" rel="stylesheet">

<link href="css/owl.css" rel="stylesheet">
<link href="css/magnificent.css" rel="stylesheet">
<link href="css/jquery.css" rel="stylesheet">
<link href="css/photoswipe.css" rel="stylesheet">
<link href="css/jquery_002.css" rel="stylesheet">
<link href="css/material-design.css" rel="stylesheet">
<link href="css/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet" media="screen">
<script src="js/common.js" type="text/javascript"></script>
<script src="js/owl.js" type="text/javascript"></script>
<link href="http://livedemo00.template-help.com/opencart_55818/image/catalog/favicon.png" rel="icon">
<!--custom script-->
<script src="js/moment.js" type="text/javascript"></script>
<script src="js/bootstrap-datetimepicker.js" type="text/javascript"></script>
<script src="js/device.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
        <img src="catalog/view/theme/theme635/image/warning_bar_0000_us.jpg" border="0" height="42" width="820"
             alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
</div>
<![endif]-->
<link href="css/stylesheet.css" rel="stylesheet">
<link href="css/material-icons.css" rel="stylesheet">


<p id="gl_path" class="hidden">theme635</p>

<div id="page">
    <header>
        <div class="container margin-b">
            <div class="fleft">
                <nav id="top-links" class="nav toggle-wrap">
                    <a class="toggle material-design-settings49" href="#"></a>
                    <ul class="toggle_cont">
                        <li class="first"><a href="index.html" title="Home">
                            <!--                            <i class="material-design-home149"></i>-->
                            <span>Home</span>
                        </a>
                        </li>
                        <li class="toggle-wrap">
                            <a href="index-2.html" title="My Account class=" toggle">
                            <!--                            <i class="material-design-user157"></i>-->
                            <span>My Account</span>
                            <!--<span class="caret"></span>-->
                            </a>
                            <ul class="toggle_cont toggle_cont__right">
                                <li>
                                    <a href="#">Register</a>
                                </li>
                                <li>
                                    <a href="#">Login</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="index-3.html" title="Shopping Cart">
                                <!--                            <i class="material-design-shopping232"></i> -->
                                <span>Shopping Cart</span>
                            </a>
                        </li>
                        <li>
                            <a href="index-4.html" title="Checkout">
                                <!--                            <i class="material-design-forward18"></i> -->
                                <span>Checkout</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="fright">
                <div class="box-language">
                    <form method="post" enctype="multipart/form-data" id="language">
                        <div class="btn-group toggle-wrap">
	<span class="toggle">
			<img class="hidden" src="images/gb.png" alt="English" title="English">
	English							<span class="hidden-xs hidden-sm hidden-md hidden">Language</span> </span>
                            <ul class="toggle_cont pull-right">
                                <li><a href="#"><img class="hidden" src="images/gb.png" alt="English" title="English">
                                    English</a></li>
                                <li><a href="#"><img class="hidden" src="images/de.png" alt="Deutsch" title="Deutsch">
                                    Deutsch</a></li>
                                <li><a href="#"><img class="hidden" src="images/ru.png" alt="Русский" title="Русский">
                                    Русский</a></li>
                            </ul>
                        </div>
                        <input name="code" value="" type="hidden">
                        <input name="redirect"
                               value="http://livedemo00.template-help.com/opencart_55818/index.php?route=checkout/checkout"
                               type="hidden">
                    </form>
                </div>
                <div class="box-currency">
                    <form method="post" enctype="multipart/form-data" id="currency">
                        <div class="btn-group toggle-wrap">
	<span class="toggle">
							US Dollar			<span
            class="hidden-xs hidden-sm hidden-md hidden">Currency</span> </span>
                            <ul class="toggle_cont pull-right">
                                <li>
                                    <button class="currency-select" type="button" name="EUR">€ Euro</button>
                                </li>
                                <li>
                                    <button class="currency-select" type="button" name="GBP">£ Pound Sterling</button>
                                </li>
                                <li>
                                    <button class="currency-select" type="button" name="USD">$ US Dollar</button>
                                </li>
                            </ul>
                        </div>
                        <input name="code" value="" type="hidden">
                        <input name="redirect"
                               value="http://livedemo00.template-help.com/opencart_55818/index.php?route=checkout/checkout"
                               type="hidden">
                    </form>
                </div>
            </div>
        </div>

        <div style="width: 1903px;" id="stuck" class="stuck-menu scroll-fix">
            <div class="container">
                <div class="fleft">
                    <div class="search toggle-wrap">
                        <div class="toggle-search"></div>
                        <div class="toggle_cont">
                            <div id="search">
                                <input name="search" placeholder="Search" type="text">
                                <button type="button" class="button-search"><!--<span>Search</span>-->
                                </button>
                                <i class="closebtn"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="logo" class="logo"><a href="index.html"><img src="images/logo.png" title="Jewelry online Store"
                                                                      alt="Jewelry online Store" class="img-responsive"></a>
                </div>
                <div class="fright">
                    <div class="wish_list">
                        <a href="#" title="0" class="item-btn">
                            <i class="material-icons-favorite_border"></i>
                            <span id="wishlist-total">0</span>
                        </a>
                    </div>
                    <div class="box-cart">
                        <div id="cart" class="cart toggle-wrap">
                            <button type="button" data-loading-text="Loading..." class="toggle item-btn">
                                <i class="material-icons-shopping_basket"></i>
                                <span id="cart-total2" class="cart-total2">1</span></button>
                            <ul class="pull-right toggle_cont">
                                <li>
                                    <div>
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td class="text-center">
                                                    <div class="image"><a href="#"><img
                                                            src="images/product-40-100x100.png" alt="Haute Joaillerie"
                                                            title="Haute Joaillerie" class="img-thumbnail"></a></div>
                                                </td>
                                                <td class="text-left">
                                                    <div class="name"><a href="#">Haute Joaillerie</a></div>
                                                    <!--			--><!--			--><!---->
                                                    <!--			- <small>--><!-- --><!--</small>-->
                                                    <!--			--><!--			--><!--			-->
                                                    <!--			<br />-->
                                                    <!--			- <small>--><!-- --><!--</small>-->
                                                    <!--			-->
                                                    <div> x 1 <span class="price-cart">$110.00</span></div>
                                                </td>

                                                <td class="text-right"></td>
                                                <td class="text-center">
                                                    <button type="button" onClick="cart.remove('222');" title="Remove"
                                                            class="btn btn-danger btn-xs"><i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <table class="table total">
                                            <tbody>
                                            <tr>
                                                <td class="text-right"><strong>Sub-Total</strong></td>
                                                <td class="text-right">$110.00</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong>Total</strong></td>
                                                <td class="text-right">$110.00</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-right">
                                            <a class="cart-remove-btn" href="#"><span> View Cart</span></a>
                                            <a class="cart-remove-btn" href="#"><span>Checkout</span></a>

                                            <p></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="visibility: hidden; height: 63px;" id="stuck" class="stuck-menu"></div>

        <div class="margin-t">
            <div class="container">
                <div id="menu-gadget" class="menu-gadget">
                    <ul class="menu">
                        <li>
                            <a href="index-5.html">Anklets</a>
                            <ul>
                                <li>
                                    <a href="#">Amulets</a>
                                </li>
                                <li>
                                    <a href="#">Love</a>
                                </li>
                                <li>
                                    <a href="#">Pendants</a>
                                </li>
                                <li>
                                    <a href="#">Rings</a>
                                </li>
                                <li>
                                    <a href="#">Wedding</a>
                                </li>

                            </ul>

                        </li>
                        <li>
                            <a href="#">Bracelets</a>

                        </li>
                        <li>
                            <a href="#">Brooches</a>

                        </li>
                        <li>
                            <a href="#">Earrings</a>

                        </li>
                        <li>
                            <a href="#">Necklaces</a>

                        </li>

                    </ul>
                </div>
            </div>
            <div class="bg-nav">
                <div id="tm_menu" class="nav__primary">
                    <div class="container">
                        <ul class="menu sf-js-enabled sf-arrows">
                            <li>
                                <a class="sf-with-ul" href="index-5.html">Anklets</a>
                                <ul style="display: none;">
                                    <li style="opacity: 0;">
                                        <a href="#">Amulets</a>
                                    </li>
                                    <li style="opacity: 0;">
                                        <a href="#">Love</a>
                                    </li>
                                    <li style="opacity: 0;">
                                        <a href="#">Pendants</a>
                                    </li>
                                    <li style="opacity: 0;">
                                        <a href="#">Rings</a>
                                    </li>
                                    <li style="opacity: 0;">
                                        <a href="#">Wedding</a>
                                    </li>

                                </ul>

                            </li>
                            <li>
                                <a href="#">Bracelets</a>

                            </li>
                            <li>
                                <a href="#">Brooches</a>

                            </li>
                            <li>
                                <a href="#">Earrings</a>

                            </li>
                            <li>
                                <a href="#">Necklaces</a>

                            </li>

                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Shopping Cart</a></li>
            <li><a style="display: none;" href="#">Checkout</a><span>Checkout</span></li>
        </ul>
        <div class="row">
            <div id="content" class="col-sm-12"><h1>Checkout</h1>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a aria-expanded="false" href="#" data-toggle="collapse"
                                                       data-parent="#accordion" class="accordion-toggle collapsed">Step
                                1: Checkout Options <i class="fa fa-caret-down"></i></a></h4>
                        </div>
                        <div style="height: 0px;" aria-expanded="false" class="panel-collapse collapse"
                             id="collapse-checkout-option">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2>New Customer</h2>

                                        <p>Checkout Options:</p>

                                        <div class="radio">
                                            <input id="accountregister" name="account" value="register"
                                                   checked="checked" type="radio"><label for="accountregister">

                                            Register Account</label>
                                        </div>
                                        <div class="radio">
                                            <input id="accountguest" name="account" value="guest" type="radio"><label
                                                for="accountguest">

                                            Guest Checkout</label>
                                        </div>
                                        <p>By creating an account you will be able to shop faster, be up
                                            to date on an order's status, and keep track of the orders you have
                                            previously made.</p>
                                        <input value="Continue" id="button-account" data-loading-text="Loading..."
                                               class="btn btn-primary" type="button">
                                    </div>
                                    <div class="col-sm-6">
                                        <h2>Returning Customer</h2>

                                        <p>I am a returning customer</p>

                                        <div class="form-group">
                                            <label class="control-label" for="input-email">E-Mail</label>
                                            <input name="email" placeholder="E-Mail" id="input-email"
                                                   class="form-control" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="input-password">Password</label>
                                            <input name="password" value="" placeholder="Password" id="input-password"
                                                   class="form-control" type="password">
                                            <a href="#">Forgotten Password</a></div>
                                        <input value="Login" id="button-login" data-loading-text="Loading..."
                                               class="btn btn-primary" type="button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Step 2: Account &amp; Billing Details</h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse-payment-address">
                            <div class="panel-body"></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Step 3: Delivery Details</h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse-shipping-address">
                            <div class="panel-body"></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Step 4: Delivery Method</h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse-shipping-method">
                            <div class="panel-body"></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Step 5: Payment Method</h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse-payment-method">
                            <div class="panel-body"></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Step 6: Confirm Order</h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse-checkout-confirm">
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"><!--
    $(document).on('change', 'input[name=\'account\']', function () {
        if ($('#collapse-payment-address').parent().find('.panel-heading .panel-title > *').is('a')) {
            if (this.value == 'register') {
                $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 2: Account &amp; Billing Details <i class="fa fa-caret-down"></i></a>');
            } else {
                $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 2: Billing Details <i class="fa fa-caret-down"></i></a>');
            }
        } else {
            if (this.value == 'register') {
                $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('Step 2: Account &amp; Billing Details');
            } else {
                $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('Step 2: Billing Details');
            }
        }
    });


    $(document).ready(function () {
        $.ajax({
            url: 'index.php?route=checkout/login',
            dataType: 'html',
            success: function (html) {
                $('#collapse-checkout-option .panel-body').html(html);

                $('#collapse-checkout-option').parent().find('.panel-heading .panel-title').html('<a href="#collapse-checkout-option" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 1: Checkout Options <i class="fa fa-caret-down"></i></a>');

                $('a[href=\'#collapse-checkout-option\']').trigger('click');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Checkout
    $(document).delegate('#button-account', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/' + $('input[name=\'account\']:checked').val(),
            dataType: 'html',
            beforeSend: function () {
                $('#button-account').button('loading');
            },
            complete: function () {
                $('#button-account').button('reset');
            },
            success: function (html) {
                $('.alert, .text-danger').remove();

                $('#collapse-payment-address .panel-body').html(html);

                if ($('input[name=\'account\']:checked').val() == 'register') {
                    $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 2: Account &amp; Billing Details <i class="fa fa-caret-down"></i></a>');
                } else {
                    $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 2: Billing Details <i class="fa fa-caret-down"></i></a>');
                }

                $('a[href=\'#collapse-payment-address\']').trigger('click');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Login
    $(document).delegate('#button-login', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/login/save',
            type: 'post',
            data: $('#collapse-checkout-option :input'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-login').button('loading');
            },
            complete: function () {
                $('#button-login').button('reset');
            },
            success: function (json) {
                $('.alert, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    $('#collapse-checkout-option .panel-body').prepend('<div class="alert alert-danger"><i class="material-design-cancel19"></i> ' + json['error']['warning'] + '<button type="button" class="close material-design-close47" data-dismiss="alert"></button></div>');

                    // Highlight any found errors
                    $('input[name=\'email\']').parent().addClass('has-error');
                    $('input[name=\'password\']').parent().addClass('has-error');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Register
    $(document).delegate('#button-register', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/register/save',
            type: 'post',
            data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address textarea, #collapse-payment-address select'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-register').button('loading');
            },
            complete: function () {
                $('#button-register').button('reset');
            },
            success: function (json) {
                $('.alert, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    if (json['error']['warning']) {
                        $('#collapse-payment-address .panel-body').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close material-design-close47" data-dismiss="alert"></button></div>');
                    }

                    for (i in json['error']) {
                        var element = $('#input-payment-' + i.replace('_', '-'));

                        if ($(element).parent().hasClass('input-group')) {
                            $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
                        } else {
                            $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
                        }
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');
                } else {

                    var shipping_address = $('#payment-address input[name=\'shipping_address\']:checked').prop('value');

                    if (shipping_address) {
                        $.ajax({
                            url: 'index.php?route=checkout/shipping_method',
                            dataType: 'html',
                            success: function (html) {
                                // Add the shipping address
                                $.ajax({
                                    url: 'index.php?route=checkout/shipping_address',
                                    dataType: 'html',
                                    success: function (html) {
                                        $('#collapse-shipping-address .panel-body').html(html);

                                        $('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 3: Delivery Details <i class="fa fa-caret-down"></i></a>');
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                    }
                                });

                                $('#collapse-shipping-method .panel-body').html(html);

                                $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 4: Delivery Method <i class="fa fa-caret-down"></i></a>');

                                $('a[href=\'#collapse-shipping-method\']').trigger('click');

                                $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('Step 4: Delivery Method');
                                $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('Step 5: Payment Method');
                                $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('Step 6: Confirm Order');
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    } else {
                        $.ajax({
                            url: 'index.php?route=checkout/shipping_address',
                            dataType: 'html',
                            success: function (html) {
                                $('#collapse-shipping-address .panel-body').html(html);

                                $('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 3: Delivery Details <i class="fa fa-caret-down"></i></a>');

                                $('a[href=\'#collapse-shipping-address\']').trigger('click');

                                $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('Step 4: Delivery Method');
                                $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('Step 5: Payment Method');
                                $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('Step 6: Confirm Order');
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    }

                    $.ajax({
                        url: 'index.php?route=checkout/payment_address',
                        dataType: 'html',
                        success: function (html) {
                            $('#collapse-payment-address .panel-body').html(html);

                            $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 2: Billing Details <i class="fa fa-caret-down"></i></a>');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Payment Address
    $(document).delegate('#button-payment-address', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/payment_address/save',
            type: 'post',
            data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-payment-address').button('loading');
            },
            complete: function () {
                $('#button-payment-address').button('reset');
            },
            success: function (json) {
                $('.alert, .text-danger').remove();

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    if (json['error']['warning']) {
                        $('#collapse-payment-address .panel-body').prepend('<div class="alert alert-warning"><i class="material-design-warning37"></i> ' + json['error']['warning'] + '<button type="button" class="close material-design-close47" data-dismiss="alert"></button></div>');
                    }

                    for (i in json['error']) {
                        var element = $('#input-payment-' + i.replace('_', '-'));

                        if ($(element).parent().hasClass('input-group')) {
                            $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
                        } else {
                            $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
                        }
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().parent().addClass('has-error');
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_address',
                        dataType: 'html',
                        success: function (html) {
                            $('#collapse-shipping-address .panel-body').html(html);

                            $('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 3: Delivery Details <i class="fa fa-caret-down"></i></a>');

                            $('a[href=\'#collapse-shipping-address\']').trigger('click');

                            $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('Step 4: Delivery Method');
                            $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('Step 5: Payment Method');
                            $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('Step 6: Confirm Order');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });

                    $.ajax({
                        url: 'index.php?route=checkout/payment_address',
                        dataType: 'html',
                        success: function (html) {
                            $('#collapse-payment-address .panel-body').html(html);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Shipping Address
    $(document).delegate('#button-shipping-address', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/shipping_address/save',
            type: 'post',
            data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-shipping-address').button('loading');
            },
            complete: function () {
                $('#button-shipping-address').button('reset');
            },
            success: function (json) {
                $('.alert, .text-danger').remove();

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    if (json['error']['warning']) {
                        $('#collapse-shipping-address .panel-body').prepend('<div class="alert alert-warning"><i class="material-design-warning37"></i> ' + json['error']['warning'] + '<button type="button" class="close material-design-close47" data-dismiss="alert"></button></div>');
                    }

                    for (i in json['error']) {
                        var element = $('#input-shipping-' + i.replace('_', '-'));

                        if ($(element).parent().hasClass('input-group')) {
                            $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
                        } else {
                            $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
                        }
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().parent().addClass('has-error');
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_method',
                        dataType: 'html',
                        success: function (html) {
                            $('#collapse-shipping-method .panel-body').html(html);

                            $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 4: Delivery Method <i class="fa fa-caret-down"></i></a>');

                            $('a[href=\'#collapse-shipping-method\']').trigger('click');

                            $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('Step 5: Payment Method');
                            $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('Step 6: Confirm Order');

                            $.ajax({
                                url: 'index.php?route=checkout/shipping_address',
                                dataType: 'html',
                                success: function (html) {
                                    $('#collapse-shipping-address .panel-body').html(html);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                }
                            });
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });

                    $.ajax({
                        url: 'index.php?route=checkout/payment_address',
                        dataType: 'html',
                        success: function (html) {
                            $('#collapse-payment-address .panel-body').html(html);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Guest
    $(document).delegate('#button-guest', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/guest/save',
            type: 'post',
            data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-guest').button('loading');
            },
            complete: function () {
                $('#button-guest').button('reset');
            },
            success: function (json) {
                $('.alert, .text-danger').remove();

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    if (json['error']['warning']) {
                        $('#collapse-payment-address .panel-body').prepend('<div class="alert alert-warning"><i class="material-design-warning37"></i> ' + json['error']['warning'] + '<button type="button" class="close material-design-close47" data-dismiss="alert"></button></div>');
                    }

                    for (i in json['error']) {
                        var element = $('#input-payment-' + i.replace('_', '-'));

                        if ($(element).parent().hasClass('input-group')) {
                            $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
                        } else {
                            $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
                        }
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');
                } else {

                    var shipping_address = $('#collapse-payment-address input[name=\'shipping_address\']:checked').prop('value');

                    if (shipping_address) {
                        $.ajax({
                            url: 'index.php?route=checkout/shipping_method',
                            dataType: 'html',
                            success: function (html) {
                                // Add the shipping address
                                $.ajax({
                                    url: 'index.php?route=checkout/guest_shipping',
                                    dataType: 'html',
                                    success: function (html) {
                                        $('#collapse-shipping-address .panel-body').html(html);

                                        $('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 3: Delivery Details <i class="fa fa-caret-down"></i></a>');
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                    }
                                });

                                $('#collapse-shipping-method .panel-body').html(html);

                                $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 4: Delivery Method <i class="fa fa-caret-down"></i></a>');

                                $('a[href=\'#collapse-shipping-method\']').trigger('click');

                                $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('Step 5: Payment Method');
                                $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('Step 6: Confirm Order');
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    } else {
                        $.ajax({
                            url: 'index.php?route=checkout/guest_shipping',
                            dataType: 'html',
                            success: function (html) {
                                $('#collapse-shipping-address .panel-body').html(html);

                                $('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 3: Delivery Details <i class="fa fa-caret-down"></i></a>');

                                $('a[href=\'#collapse-shipping-address\']').trigger('click');

                                $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('Step 4: Delivery Method');
                                $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('Step 5: Payment Method');
                                $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('Step 6: Confirm Order');
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    // Guest Shipping
    $(document).delegate('#button-guest-shipping', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/guest_shipping/save',
            type: 'post',
            data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-guest-shipping').button('loading');
            },
            complete: function () {
                $('#button-guest-shipping').button('reset');
            },
            success: function (json) {
                $('.alert, .text-danger').remove();

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    if (json['error']['warning']) {
                        $('#collapse-shipping-address .panel-body').prepend('<div class="alert alert-warning"><i class="material-design-warning37"></i> ' + json['error']['warning'] + '<button type="button" class="close material-design-close47" data-dismiss="alert"></button></div>');
                    }

                    for (i in json['error']) {
                        var element = $('#input-shipping-' + i.replace('_', '-'));

                        if ($(element).parent().hasClass('input-group')) {
                            $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
                        } else {
                            $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
                        }
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_method',
                        dataType: 'html',
                        success: function (html) {
                            $('#collapse-shipping-method .panel-body').html(html);

                            $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 4: Delivery Method <i class="fa fa-caret-down"></i>');

                            $('a[href=\'#collapse-shipping-method\']').trigger('click');

                            $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('Step 5: Payment Method');
                            $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('Step 6: Confirm Order');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $(document).delegate('#button-shipping-method', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/shipping_method/save',
            type: 'post',
            data: $('#collapse-shipping-method input[type=\'radio\']:checked, #collapse-shipping-method textarea'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-shipping-method').button('loading');
            },
            complete: function () {
                $('#button-shipping-method').button('reset');
            },
            success: function (json) {
                $('.alert, .text-danger').remove();

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    if (json['error']['warning']) {
                        $('#collapse-shipping-method .panel-body').prepend('<div class="alert alert-warning"><i class="material-design-warning37"></i> ' + json['error']['warning'] + '<button type="button" class="close material-design-close47" data-dismiss="alert"></button></div>');
                    }
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/payment_method',
                        dataType: 'html',
                        success: function (html) {
                            $('#collapse-payment-method .panel-body').html(html);

                            $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 5: Payment Method <i class="fa fa-caret-down"></i></a>');

                            $('a[href=\'#collapse-payment-method\']').trigger('click');

                            $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('Step 6: Confirm Order');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $(document).delegate('#button-payment-method', 'click', function () {
        $.ajax({
            url: 'index.php?route=checkout/payment_method/save',
            type: 'post',
            data: $('#collapse-payment-method input[type=\'radio\']:checked, #collapse-payment-method input[type=\'checkbox\']:checked, #collapse-payment-method textarea'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-payment-method').button('loading');
            },
            complete: function () {
                $('#button-payment-method').button('reset');
            },
            success: function (json) {
                $('.alert, .text-danger').remove();

                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    if (json['error']['warning']) {
                        $('#collapse-payment-method .panel-body').prepend('<div class="alert alert-warning"><i class="material-design-warning37"></i> ' + json['error']['warning'] + '<button type="button" class="close material-design-close47" data-dismiss="alert"></button></div>');
                    }
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/confirm',
                        dataType: 'html',
                        success: function (html) {
                            $('#collapse-checkout-confirm .panel-body').html(html);

                            $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('<a href="#collapse-checkout-confirm" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Step 6: Confirm Order <i class="fa fa-caret-down"></i></a>');

                            $('a[href=\'#collapse-checkout-confirm\']').trigger('click');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    //--></script>
    <footer>
        <div class="footer">
        </div>

        <div class="logo_footer"><a href="index.html">
            <img src="images/logo_footer.png" alt="">
        </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="footer_box">
                        <h5>Information</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Delivery Information</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms &amp; Conditions</a>
                            </li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="footer_box">
                        <h5>Customer Service</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="index-1.html">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">Returns</a>
                            </li>
                            <li>
                                <a href="#">Site Map</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="footer_box">
                        <h5>Extras</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Brands</a>
                            </li>
                            <li>
                                <a href="#">Gift Vouchers</a>
                            </li>
                            <li>
                                <a href="#">Affiliates</a>
                            </li>
                            <li>
                                <a href="#">Specials</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="footer_box">
                        <h5>My Account</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">My Account</a>
                            </li>
                            <li>
                                <a href="#">Order History</a>
                            </li>
                            <li>
                                <a href="#">Wish List</a>
                            </li>
                            <li>
                                <a href="#">Newsletter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="info-block">
                <dl>
                    <dt>Tel:</dt>
                    <dd>
                        <a href="#">
                            800-2345-6789 </a>
                    </dd>
                </dl>
                <address>My Company 4578 Marmora Road, Glasgow D04 89GR</address>
                <div class="footer_box">
                    <h5>Follow us</h5>
                    <ul class="social-list list-unstyled">
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                                <span>Google Plus</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                Powered By <a href="#">OpenCart</a><br> Jewelry online Store © 2016<!-- [[%FOOTER_LINK]] -->
            </div>
        </div>
    </footer>
    <script src="js/livesearch.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery_003.js"></script>
    <script src="js/scrollfix.js"></script>
    <script src="js/jquery_002.js"></script>
    <script src="js/superfish.js"></script>
    <script src="js/jquery_004.js"></script>
</div>

<div class="ajax-overlay"></div>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7078796-5']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();</script>
<script type="text/javascript">window.NREUM || (NREUM = {});
NREUM.info = {
    "beacon": "bam.nr-data.net",
    "licenseKey": "72d7dcce33",
    "applicationID": "1388850",
    "transactionName": "ZV1TZ0FTVkFVWkwKXlwXZEFaHVdCUVdbAkNGZwQGCwMAHV1XXAZJHEhZQw==",
    "queueTime": 0,
    "applicationTime": 466,
    "atts": "SRpQEQlJRU8=",
    "errorBeacon": "bam.nr-data.net",
    "agent": ""
}</script>
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-N7VWVN" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
    var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-N7VWVN');</script>
<!-- End Google Tag Manager --><a style="display: inline;" href="#" id="toTop" class="toTop fa fa-angle-up"></a>

<div class="rd-mobilemenu">
    <ul class="rd-mobilemenu_ul">
        <li><a class="rd-with-ul" href="#">Anklets<span class="rd-submenu-toggle"></span></a>
            <ul style="display: none;" class="rd-mobilemenu_submenu">
                <li>
                    <a href="#">Amulets</a>
                </li>
                <li>
                    <a href="#">Love</a>
                </li>
                <li>
                    <a href="#">Pendants</a>
                </li>
                <li>
                    <a href="#">Rings</a>
                </li>
                <li>
                    <a href="#">Wedding</a>
                </li>

            </ul>
        </li>
        <li><a href="#">Bracelets</a></li>
        <li><a href="#">Brooches</a></li>
        <li><a href="#">Earrings</a></li>
        <li><a href="#">Necklaces</a></li>
    </ul>
</div>
<div class="rd-mobilepanel">
    <button class="rd-mobilepanel_toggle"><span></span></button>
    <h2 class="rd-mobilepanel_title">Checkout</h2></div>
<span style="display: none;"><iframe src="images/storage.htm" id="_olark_framesocket74645"
                                     style="display: none !important;"></iframe></span>

</body>
<!-- Google Tag Manager --></html>